[package]
name = "qemu_dxe_core"
version = "2.2.1"
edition = "2024"
license = "Apache-2.0"

[[bin]]
name = "qemu_q35_dxe_core"
path = "bin/q35_dxe_core.rs"
required-features = ["x64"]

[[bin]]
name = "qemu_sbsa_dxe_core"
path = "bin/sbsa_dxe_core.rs"
required-features = ["aarch64"]

[lib]
name = "qemu_resources"
path = "src/lib.rs"

[dependencies]
log = { version = "^0.4", default-features = false, features = [
    "release_max_level_warn",
] }
patina_adv_logger = { version = "18" }
patina_debugger = { version = "18" }
patina_dxe_core = { version = "18" }
patina_mm = { version = "18" }
patina_performance = { version = "18"}
patina_samples = { version = "18" }
patina_smbios = { version = "18"}
patina = { version = "18", features = ["enable_patina_tests"] }
patina_ffs_extractors = { version = "18" }
patina_stacktrace = { version = "18" }
r-efi = { version = "^5", default-features = false }
x86_64 = { version = "=0.15.2", default-features = false, features = [
  "instructions"
], optional = true }
zerocopy = { version = "0.8", features = ["derive"] }

# These release settings reduce the qemu binary size significantly(~35%).
[profile.release]
codegen-units = 1
debug = "full"
lto = true
opt-level = "s"
split-debuginfo = "packed"
strip = "symbols"
incremental = true

[profile.dev]
opt-level = "s"

[profile.test]
opt-level = 0

[features]
default = ["compatibility_mode_allowed"]
compatibility_mode_allowed = ["patina_dxe_core/compatibility_mode_allowed"]
x64 = ["x86_64"]
aarch64 = []
doc = []
std = []
build_debugger = []
enable_debugger = ["build_debugger"]
